/* Main container for object detection */
.object-detection-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00ffcc; /* Use global radium glowing text color */
}

/* Center the title at the top */
h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #00ffcc; /* Neon glow */
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-shadow: 0 0 15px rgba(0, 255, 204, 0.7); /* Glowing effect */
}

/* Countdown timer styling */
.countdown-timer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: #ff0000; /* Bright red for countdown text */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
}

/* Video container */
.video-container {
  position: relative;
  margin-bottom: 20px;
}

/* Ensure the video and canvas have the same dimensions and are aligned */
.video-container video, .video-container canvas {
  display: block;
  width: 100%; /* Make the video responsive */
  height: auto; /* Preserve aspect ratio */
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Ensure the canvas overlays the video perfectly */
.video-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Prevent interaction with the canvas */
  z-index: 1; /* Ensure canvas appears on top of the video */
}

/* Hide elements using CSS class */
.hidden {
  display: none;
}

/* Detected objects list styling */
.object-list {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #0d0d0d; /* Dark background to fit with global gradient */
  box-shadow: 0px 0px 10px 2px rgba(0, 255, 204, 0.5); /* Add a glowing shadow to match radium text */
}

.object-list ul {
  list-style: none;
  padding: 0;
}

.object-list li {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #1a1a1a; /* Darker gray background for items */
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  color: #00ffcc; /* Radium glowing text color for detected objects */
}

/* For better visibility in dark mode, change the canvas stroke and fill colors */
canvas {
  border-color: #ffffff;
  background-color: transparent;
}


.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #00ffcc;
  background-color: transparent;
  border: 2px solid #00ffcc;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(0, 255, 204, 0.7);
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
  display: inline-block;
}

.back-button:hover {
  background-color: #00ffcc;
  color: #1a1a1a;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.7);
}

