<div class="image-classification">
    <h1>Image Classification</h1>
  
    <p>Select an image to classify:</p>
    <label class="custom-file-upload">
      <input type="file" (change)="onImageUpload($event)" accept="image/*" />
      Choose Image
    </label>
  
    <div class="preview" *ngIf="imageSrc">
      <img [src]="imageSrc" alt="Uploaded Image" />
    </div>
  
    <div class="prediction" *ngIf="prediction">
      <h2>Prediction: {{ prediction.className }}</h2>
      <p>Confidence: {{ prediction.probability | percent }}</p>
    </div>
  </div>
  